body {
    font-family: 'Quicksand', sans-serif;
    background-image: url("../images/bgwallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 1000px;
    width: 100vw;
    height: 100vh;
  }

  /* Class Selector for ACA Logo */
  .logo {
    width: 125px;
    height: 100px;
    margin: 3% 10%;
  }

  /*Header Content*/
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }

  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }

  /* This is an element within and element selector */ 
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    background: transparent;
    padding: 20px;
    text-align: center;
    border: 1px solid white;
  }

/*Contact Me Nav Button Border*/
  .has-border {
    border-radius: 5px;
    border: 1px solid #0795C3;
    background: none;
    padding: 20px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }

  /* Profile Picture ID selector */
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 5% auto;
    grid-column: 2/3;
  }

  /*Headings */
  h1 {
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
  }

  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }

  /* Small Text Class - Currently used at the bottom of the page ACA info */
  .small-text {
    grid-column: 2/3;
    color: white;
    font-size: 10px;
    margin: 3% auto;
  }
/* CTA Button */
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    background: transparent;
    padding: 20px;
    padding-bottom: 5%;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
  }